
.order-details-wrapper{
    margin: 4rem 0 2rem;
    background-color: var(--white);
    border-radius: 10px;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.order-title{
    padding: 2rem 0rem;
    font-size: 2.5rem;
}

.back-link{
    flex: 0 0 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    font-size: 2.5rem;
}

.order-details-container{
    border: 1px solid #ededed;
    border-radius: 5px;
    padding: 1rem;
}

.order-meta{
    padding: 0.5rem;
    margin-bottom: 10px;
}

.order-no{
    font-weight: 800;
    font-size: 2rem;
}

.order-product-details{
    margin-top: 5px;
    color: #75757a;
    font-size: 1.5rem;
}

.order-product-details span:not(:last-child){
    display: block;
    margin-bottom: 2px;
}

.order-details-title{
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 10px;
}

.order-item{
    border: 1px solid #ededed;
    padding: 1rem 0.5rem;
}

.product-status{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    background-color: #6dbd28;
    color: var(--white);
}

.product-info{
    display: flex;
    margin-top: 1rem
}

.product-image-container{
    flex: 0 0 150px;
    margin-right: 15px;
}

.product-image-container img{
    width: 100%;
}

.product-details{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size:1.5rem;
}

.product-name{
    font-weight: 500;
}

.product-qty{
    color: #75757a;
}

.product-status.pending{
    background-color: #0275d8;
}

.product-status.shipped{
    background-color: #cd02d8;
}

.product-status.awaiting-shipment{
    background-color: #d80202;
}

.product-status.completed{
    background-color: #6dbd28;
}

.product-status.cancelled{
    background-color: #000000;
}

.order-info-cards{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.order-info-card{
    flex: 0 0 49%;
    border: 1px solid #ededed;
    border-radius: 2px;
    overflow: hidden;
}

.order-card-title{
    padding: 1.5rem 1rem;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    font-size: 1.2rem;
    border-bottom: 1px solid #ededed;
}

.order-card-body{
    padding: 1.5rem;
}

.order-card-body-group:not(:last-child){
    margin-bottom: 15px;
}

.order-card-body h3{
    text-transform: capitalize;
    font-weight: 800;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.order-card-body p{
    font-size: 1.5rem;
}

.order-card-body p:not(:last-child){
    margin-bottom: 5px;
}



