/* < 1800px */ 
@media only screen and (max-width: 112.5em){ 

} 

/* < 1200px */
@media only screen and (max-width: 75em){ 

}

/* < 1040px */
@media only screen and (max-width: 65em){ 
    .today-card{
        flex: 0 0 45%;
    }  

    .card-details{
        flex: 0 0 60%;
    }
}

/* < 900px */ 
@media only screen and (max-width: 56.25em){
    .login-container{
        flex: 0 0 75%;
    }

    .table-container{
        overflow-x: auto;
    }

    .main-table{
        width: 700px;
    }

    .generic-table{
        width: 800px;
    }

    .main-table.wallet-table{
        width: 900px
    }
} 

/* < 750px */ 
@media only screen and (max-width: 46.875em){ 
    .card-widgets{
        display: block;
    }

    .card{
        margin-bottom: 20px;
    }

    .today-card:not(:last-child){
        margin-right: 0px;
    }

    .total-revenue-card{
        margin-right: 0px;
    }
} 

/* < 665px */ 
@media only screen and (max-width: 41.5625em){ 
    .dash-menu{
        left: -75px;
    }

    .page-wrapper{
        margin-left: 40px;
    }

    .dash-menu.expand{
        z-index: 100;
    }

    .mobile-backdrop.display{
        display: block;
    }

    .dash-menu.expand ~ .page-wrapper{
        margin-left: 0px;
    }
} 

@media only screen and (max-width: 38.125em){  } /* < 610px */

/* < 600px */
@media only screen and (max-width: 37.5em){ 
    .payment-table-container{
        overflow-x: scroll;
    }

    .payment-table-container table{
        width: 510px;
    }
}

/* < 580px */ 
@media only screen and (max-width: 36.25em){ 
    .page-wrapper{
        margin-top: 25px;
    }

    .dash-header{
        padding: 0 15px;
    }

    .login-container{
        flex: 0 0 85%;
    }

    .order-info-cards{
        display: block;
    }

    .order-info-card:not(:last-child){
        margin-bottom: 20px;
    }
}


/* < 500px */ 
@media only screen and (max-width: 31.25em){ 
    .welcome-message{
        font-size: 2rem;
    }  

    .select-container{
        flex: 0 0 150px;
    }

    #selected-date{
        padding: 5px;
    }

    .dash-header{
        padding: 5px 15px;
    }
}

/* < 400px */
@media only screen and (max-width: 25em){ 
    .form-group.animate label{
        font-size: 12px;
        top: 2.5rem;
    }

    .dash-header{
        flex-direction: column;
        align-items: flex-start;
        padding: 5px;
    }

    .select-container{
        flex: initial;
    }

    .welcome-message{
        margin-bottom: 10px;
    }

    .submit-btn-container button.admin-submit-btn{
        width: 100%;
        font-size: 2rem;
    }

    .product-image-container{
        flex: 0 0 100px;
    }

    .image-upload-container{
        height: 150px;
        width: 150px;
    }
}

@media only screen and (min-width: 112.5em){
    .form-group.animate label{
        top: 1rem;
    }

    .radio-group-container{
        width: 300px;
        margin: 40px auto
    }
}



 