/* SUCCESS SECTION START */

.success-wrapper{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom left, #1270B0 50%, #2366B5 50%);
}

.success-container{
    padding: 3rem;
    flex: 0 0 70%;
    text-align: center;
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.success-container i{
    font-size: 8rem;
    color: var(--primary-color);

}

.success-title{
    font-weight: bold;
    font-size: 3rem;
    margin: 1.5rem 0;
}

.success-title span{
    color: var(--primary-color);
}

.success-text{
    color: #6b7177;
    font-size: 1.5rem;
}



/* SUCCESS SECTION END */